.add-item-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 36px auto;
  padding: 20px;
  background-color: white;
  font-size: 18px;
  line-height: 30pt;
  box-shadow: 4px 12px 20px 0 rgba(0, 0, 0, 0.2);
}

.selector {
  border: none;
  min-width: 50%;
  padding: 10px;
  font-size: 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(204, 153, 51, 0.3);
  background-image: url("/arrow.png");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  color: black;
}

.selector:hover {
  background-color: #999933;
}

.add-body {
  margin: 40px;
  padding: 0;
}

.flex-add {
  display: flex;
}

.input-add {
  height: 20px;
  margin: 8px;
}

.add-item-button {
  background-color: #999933;
  border: none;
  font-size: 15px;
  color: white;
  text-decoration: none;
  min-width: 250px;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  margin-top: 40px;
}

.add-item-button:hover {
  background-color: rgba(153, 153, 51, 0.7);
  color: white;
}

.selector,
.input-add,
.desc-add,
.add-item-button {
  margin-bottom: 10px;
}

.text-add {
  min-width: 440px;
}

.add-button-container {
  display: flex;
  justify-content: center;
}

.add-image {
  margin: 12px;
}

.image-p {
  margin-bottom: 10px;
}
