* {
  margin: 0;
  padding: 0;
  font-family: "Alegreya", serif;
}

body {
  margin: 0;
  background-color: rgba(153, 153, 51, 0.07);
}

/* MAIN MENU */

.header {
  display: flex;
  font-family: "Savoye LET", cursive;
  font-size: 65pt;
  justify-content: center;
  margin-top: 45px;
  color: #999933;
}

.global {
  min-height: calc(100vh - 90px);
  padding: 24px 48px 48px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.main-button {
  background-color: #f5f6f8;
  width: 500px;
  height: 336px;
}

.main-img {
  width: 100%;
  height: 100%;
}

.main-button:hover,
.main-button:focus {
  outline: 1px solid rgb(9, 9, 9);
  outline-offset: -4px;
  background: #050505;
}

.main-button:active {
  transform: scale(0.99);
}

/* NAV BAR */

/* ITEMS  */

.item-photo {
  width: 300px;
  height: 300px;
  margin: 10px;
}
.item-photo:hover {
  box-shadow: 5px 5px 20px grey;
}

.list-item-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  margin: 1em;
}

.list-item-card {
  align-items: center;
  max-width: 3000px;
  margin: 36px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  line-height: 1;
  background: none;
  font-size: 18px;
}

/* DETAILS PAGE */

.item-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 36px auto;
  padding: 20px;
  background-color: white;
  font-size: 18px;
  box-shadow: 4px 12px 20px 0 rgba(0, 0, 0, 0.2);
}

.item-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button {
  background-color: #999933;
  padding: 5px;
  border: none;
  font-size: 15px;
  color: white;
  text-decoration: none;
  min-width: 80px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(153, 153, 51, 0.7);
  color: white;
}

.itemPhoto {
  width: 300px;
  height: 300px;
  margin: 10px;
}

/* FORM PAGE */

.form-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  margin: 36px auto;
  padding: 20px;
  background-color: white;
  font-size: 18px;
  line-height: 30pt;
  box-shadow: 4px 12px 20px 0 rgba(0, 0, 0, 0.2);
}

.wrap {
  width: 30%;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reviews {
  margin: 0 0 0 0;
  line-height: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 36px auto;
  padding: 0;
}

.review {
  border-bottom: 1px solid #999933;
  padding-bottom: 14px;
  padding-top: 14px;
}

.review:last-child {
  border: none;
  margin-bottom: 14px;
}

.rating {
  align-items: stretch;
}

.link {
  color: #999933;
}

.link:hover {
  text-decoration: underline;
}

@font-face {
  font-family: "Savoye LET";
  font-style: normal;
  font-weight: normal;
  src: local("Savoye LET Plain"),
    url("/Savoye LET Plain1.0.woff") format("woff");
}
