* {
  margin: 0;
  padding: 0;
  font-family: "Alegreya", serif;
}

body {
  margin: 0;
  background-color: rgba(153, 153, 51, 0.07);
}

/* MAIN MENU */

.header {
  display: flex;
  font-family: "Savoye LET", cursive;
  font-size: 65pt;
  justify-content: center;
  margin-top: 45px;
  color: #999933;
}

.global {
  min-height: 90vh;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.main-button {
  background-color: #f5f6f8;
  width: 500px;
  height: 333px;
}

.main-img {
  width: 100%;
  height: 100%;
}

.main-button:hover,
.main-button:focus {
  outline: 1px solid rgb(9, 9, 9);
  outline-offset: -4px;
  background: #050505;
}

.main-button:active {
  transform: scale(0.99);
}

/* NAV BAR */

/* ITEMS  */

.item-photo {
  width: 300px;
  height: 300px;
  margin: 10px;
  /* border-style: solid;
  border-color: black;
  /* border-radius: 15px; 
  border-width: thin; */
  /* margin: 20px; */
}
.item-photo:hover {
  box-shadow: 5px 5px 20px grey;
}

.list-item-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  margin: 1em;
}

.list-item-card {
  /* border-style: solid;
  border-color: black;
  border-radius: 15px;
  border-width: thin; */
  align-items: center;
  max-width: 3000px;
  margin: 36px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  line-height: 1;
  /* background-color: white; */
  background: none;
  font-size: 18px;
}

.item-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* border-style: solid;
  border-color: grey;
  border-radius: 15px;
  border-width: thin; */
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 36px auto;
  padding: 20px;
  background-color: white;
  font-size: 18px;
}

.item-buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: #999933;
  padding: 5px;
  border: none;
  /* border-radius: 5px; */
  font-size: 15px;
  color: white;
  text-decoration: none;
  min-width: 80px;
  text-align: center;
  padding: 10px;
}

.button:hover {
  background-color: rgba(153, 153, 51, 0.7);
  color: white;
}

/* .addToCartButton {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #ededed),
    color-stop(1, #bab1ba)
  );
  background: -moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background: -webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background: -o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background: -ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
  background-color: #ededed;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #3a8a9e;
  font-family: Arial;
  font-size: 14px;
  padding: 7px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
}
.addToCartButton:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #bab1ba),
    color-stop(1, #ededed)
  );
  background: -moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background: -webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background: -o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background: -ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
  background-color: #bab1ba;
}
.addToCartButton:active {
  position: relative;
  top: 1px;
} */

/* FORM PAGE */

.form-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* border-style: solid;
  border-color: grey;
  border-radius: 15px;
  border-width: thin; */
  justify-content: center;
  align-items: center;
  max-width: 350px;
  margin: 36px auto;
  padding: 20px;
  background-color: white;
  font-size: 18px;
  line-height: 30pt;
}

/* .search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #669933;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: rgb(147, 145, 147);
}

.searchTerm:focus {
  color: #cc9933;
}

.searchButton {
  width: 80px;
  height: 36px;
  border: 1px solid #669933;
  background: #669933;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
} */

/*Resize the wrap to see the search bar change!*/
/* .wrap {
  width: 30%;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.reviews {
  margin: 10%;
  line-height: 20pt;
}

.seller {
  margin: 5%;
}
